@font-face {
    font-family: 'Gotham-Bold';
    src: url("../fonts/GothamBold.ttf");
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url("../fonts/GothamMedium.ttf");
}

/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Mulish', sans-serif; */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

button {
    /* Reset <button> settings */
    border: none;
    border-radius: 0rem;
    box-sizing: content-box;
    background: none;
    cursor: pointer;
    overflow: hidden;
    /* Reset </button> settings */
}

html {
    font-size: 1px;
    scroll-behavior: smooth;
    font-size: 0.525px;
    /* font-size: 0.71px; */
}

body {
    font-family: 'Gotham-Medium';
    font-size: 32rem;
    line-height: 44rem;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 91, 255, 0.05), rgba(0, 91, 255, 0.05)), #FFFFFF;
    overflow-x: hidden;
    /* width: 100vw; */
    /* margin: 0 auto; */
}

h1, h2, h3 {
    font-style: normal;
    font-weight: 500;
}

h1 {
    font-size: 62rem;
    line-height: 70rem;
    text-transform: capitalize;
}

h2 {
    font-size: 32rem;
}

h3 {
    font-size: 22rem;
    line-height: 24rem;
}

/* ================= */
/* <top-line> */

.top-line {
    display: flex;
    align-items: center;
    height: 49rem;
}

.container {
    width: 1600rem;
    margin: 0 auto;
}

.top-line-wrapper {
    display: flex;
    justify-content: space-between;
}

.top-line-list {
    display: flex;
}

.top-line-item {
    display: flex;
    align-items: center;
    margin-right: 40rem;
}

.top-line-item:nth-last-child(1) {
    margin-right: 0;
}

.top-line-link {
    font-size: 14rem;
    line-height: 18rem;
    letter-spacing: 0.2rem;
    color: #003087;
}

.search {
}

.search-wrapper {
    display: flex;
}

.search-input {
    font-family: inherit;
    border: none;
    border-radius: 7rem;
    /* border-color: transparent; */
    text-align: end;
    background-color: transparent;
    outline: none;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.2rem;
    color: #003087;
}

.search-btn {
}

.search-ico svg {
    display: block;
    width: 20rem;
    height: auto;
    margin: 0 5rem;
}

/* </top-line> */
/* ================= */
/* <header> */

.header {
    background-image: url(../img/photos/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 687rem;
}

.nav-bar {
    height: 115rem;
    background-color: #003087;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
}

.nav-bar-logo {
    height: 115rem;
}

.nav-bar-logo img {
    width: 246rem;
    position: relative;
    top: -12rem;
    left: -40rem;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
}

.nav-bar-menu-list {
    display: flex;
}

.nav-bar-menu-item {
    display: flex;
    margin-right: 30rem;
}

.nav-bar-menu-link {
    font-family: 'Gotham-Bold';
    font-size: 16rem;
    line-height: 22rem;
    letter-spacing: 0.3rem;
    color: #FFFFFF;
}

.btn {
    border-radius: 15rem;
    /* padding: 15rem 18rem; */
    font-family: 'Gotham-Bold';
    font-size: 16rem;
    line-height: 22rem;
    letter-spacing: 0.3rem;
    height: 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-info-btn-colors {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.7), rgba(0, 48, 135, 0.7)), #FFFFFF;
    color: #FFFFFF;
}

.request-info-btn {
    margin-right: 30rem;
    width: 217rem;
}

.apply-btn-colors {
    background-color: #FFC600;
    color: #003087;
}

.apply-btn {
    width: 144rem;
}

.header-offer {
    display: flex;
    margin-top: 132rem;
    /* height: 200rem; */
}

.header-offer-title {
    /* width: 621rem; */
    margin-right: 68rem;
}

.header-offer-intro-wrapper {
    width: 911rem;
}

.decor-line {
    display: block;
    height: 4rem;
    width: 100%;
    background-color: #ffc600;
}

.header-offer-decor-line {
    width: 1071rem;
    margin: 60rem 0 56rem;
}

/* </header> */
/* ================= */
/* <offer-to-apply> */

.offer-to-apply {
    padding: 128rem 0;
}

.offer-to-apply-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.decor-points {
    position: absolute;
    width: 407rem;
    z-index: -1;
}

.offer-to-apply-decor {
    right: -70rem;
    bottom: -50rem;
}

.offer-to-apply-content {
}

.offer-to-apply-content-wrapper {
    display: flex;
    justify-content: space-between;
    height: 130rem;
    margin-bottom: 24rem;
}

.offer-to-apply-content-title {
    color: #003087;
    width: 588rem;
}

.offer-to-apply-content-subtitle {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17rem;
    line-height: 22rem;
    letter-spacing: 0.3rem;
    color: #494C57;
    width: 269rem;
    height: 88rem;
    margin-top: 15rem;
}

.offer-to-apply-content-img {
    display: block;
    width: 908rem;
    box-shadow: 0rem 4rem 20rem 10rem rgba(0, 48, 135, 0.05);
    border-radius: 15rem;
}

.call-to-action-offer {
    width: 632rem;
    height: 594rem;
    background: #002F87;
    box-shadow: 0rem 4rem 20rem 10rem rgba(0, 48, 135, 0.05);
    border-radius: 15rem;
    padding: 46rem 0 0 40rem;
}

.subtitle-heading {
    font-family: 'Gotham-Bold';
    font-size: 22rem;
    line-height: 22rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #FFC600;
    display: block;
    margin-bottom: 21rem;
}

.call-to-action-offer-title {
    width: 514rem;
    margin-bottom: 31rem;
}

.call-to-action-offer-title span {
    color: #FFC600;
}

.call-to-action-offer-intro {
    width: 480rem;
    margin-bottom: 91rem;
}

.call-to-action-offer-btns-wrapper {
    display: flex;
}

.call-to-action-offer-btn {
    width: 253rem;
}

.call-to-action-offer-btn-request-info {
    margin-right: 36rem;
}

/* </offer-to-apply> */
/* ================= */
/* <programs> */

.programs {
    padding: 130rem 0 232rem;
}

.section-title-wrapper {
    display: flex;
    align-items: center;
}

.programs-title-wrapper {
    margin-bottom: 68rem;
}

.section-title {
    color: #003087;
    margin-right: 70rem;
    flex-shrink: 0;
}

.section-decor-line {
    flex-shrink: 0;
}

.programs-decor-line {
    /* width: 980rem; */
}

.programs-undergradutate-wrapper {
    position: relative;
    width: 1483rem;
    height: 758rem;
    background: #003087;
    border-radius: 15rem 0rem 0rem 15rem;
    margin-left: 277rem;
    padding: 61rem 0 50rem;
}

.programs-undergradutate-decor {
    left: -246rem;
    bottom: -58.09rem;
}

.programs-undergradutate-slider {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 61rem;
    /*     left: -1247rem; */
    /* left: -1217rem; */
    left: -1247rem;
    overflow: hidden;
    padding-right: 30rem;
}

.programs-undergradutate-slider-wrapper {
    position: relative;
    /* right: -554rem; */
    width: 1602rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28rem;
}

.programs-undergradutate-slider-slide {
    width: 494rem;
    height: 558rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50rem 0 64rem 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15rem;
}

.programs-slide-1 {
    background-image: url(../img/photos/cyber-security.jpg);
}

.programs-slide-2 {
    background-image: url(../img/photos/psychology.jpg);
}

.programs-slide-3 {
    background-image: url(../img/photos/business_management.jpg);
}

.programs-undergradutate-slider-slide-subtitle-heading {
    font-family: 'Gotham-Bold';
    font-size: 22rem;
    line-height: 40rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 22rem;
}

.programs-undergradutate-slider-slide-title {
    color: #003087;
}

.rightUp-ico svg {
    width: 19rem;
    height: auto;
}

.programs-slide-2 span {
    color: #FFC600;
}

.programs-slide-2 h2 {
    color: #FFFFFF;
}

.programs-undergradutate-slider-btns {
    display: flex;
    width: 149rem;
    justify-content: space-between;
    align-self: flex-end;
}

.round-btn {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.5), rgba(0, 48, 135, 0.5)), #FFFFFF;
    width: 61.48rem;
    height: 61.48rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs-undergradutate-slider-btn-prev-ico svg,
.programs-undergradutate-slider-btn-next-ico svg {
    width: 25rem;
    height: auto;
}

.programs-slide-1 button {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.1), rgba(0, 48, 135, 0.1)), #FFFFFF;
}

.programs-slide-2 button {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.3), rgba(0, 48, 135, 0.3)), #FFFFFF;
}

.programs-slide-3 button {
    background: linear-gradient(0deg, rgba(255, 198, 0, 0.5), rgba(255, 198, 0, 0.5)), #FFFFFF;
}

.programs-undergradutate-content {
    margin-left: 415rem;
    width: 908rem;
    display: flex;
    flex-direction: column;
}

.programs-undergradutate-decor-line {
    /* width: 908rem; */
    margin: 24rem 0 35rem;
}

.programs-undergradutate-subtitle {
    color: #FFC600;
}

.programs-undergradutate-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 17rem;
    line-height: 26rem;
    letter-spacing: 0.3rem;
    width: 750rem;
    margin: 24rem 0 42rem;
}

.programs-undergradutate-title2-decor-line {
    width: 400rem;
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.5), rgba(0, 48, 135, 0.5)), #FFFFFF;
    margin: 24.74rem 0 194rem;
}

.programs-undergradutate-view-all-progs-wrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.view-all-link {
    font-size: 22rem;
    line-height: 24rem;
    color: #FFC600;
    /* margin-top: 16.52rem; */
    padding-top: 16.52rem;
}

/* </programs> */
/* ================= */
/* <networck> */

.networck-why {
    background-image: url(../img/photos/network-why.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 1915rem; */
    height: 2194rem;
}

.networck {
    padding: 175rem 0 27rem;
}

.networck-title-wrapper {
    /* display: flex;
    align-items: center; */
    margin-bottom: 80rem;
}

.networck-title,
.why-title {
    color: #FFFFFF;
}

.networck-decor-line {
    /* width: 1093rem; */
    /* flex-shrink: 0; */
}

.networck-wrapper {
    display: flex;
    justify-content: space-between;
}

.network-benefits {
    width: 493rem;
}

.network-benefits-title {
    margin-bottom: 42rem;
}

.network-benefit {
    width: 474rem;
    height: 106rem;
    margin-top: 32rem;
}

.network-benefit-title {
    color: #FFC600;
    margin-bottom: 16rem;
}

.network-benefit-content {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17rem;
    line-height: 26rem;
    letter-spacing: 0.3rem;
}

.network-map {
    background-image: url(../img/Network_Map.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1041rem;
    height: 607rem;
    margin-top: 8rem;
    position: relative;
}

.network-map-location-wrapper {
    position: absolute;
}

.siettle {
    top: 189rem;
    left: 139rem;
}

.fresno {
    top: 210rem;
    left: 145rem;
}

.ely {
    top: 197rem;
    left: 158rem;
}

.st-louis {
    top: 184rem;
    left: 240rem;
}

.tulsa {
    top: 193rem;
    left: 226rem;
}

.new-york {
    top: 195rem;
    left: 284rem;
}

.berlin {
    top: 164rem;
    left: 514rem;
}

.cairo {
    top: 247rem;
    left: 581rem;
}

.perm {
    top: 137rem;
    left: 647rem;
}

.network-map-location-ico {
    position: relative;
    width: max-content;
}

.network-map-location-ico svg {
    display: block;
    width: 17rem;
    height: auto;
    box-shadow: 0px 5.47403px 5.47403px rgba(0, 47, 135, 0.2);
}

.selected-location {
    position: absolute;
    top: 3.8rem;
    left: 48%;
    transform: translateX(-50%);
    display: none;
}

.selected-location svg {
    width: 9rem;
    box-shadow: none;
}

.network-map-location-ico:hover .selected-location {
    display: flex; 
}

.selected-location-pop-up {
    position: absolute;
    top: -23rem;
    left: 15rem;
    padding-left: 10rem;
    display: none;
    z-index: 1;
}

.selected-location-pop-up-wrapper {
    position: relative;
    width: 200rem;
    height: 66rem;
}

.pop-up-bg-img {
    position: absolute;
    display: block;
    width: 200rem;
}

.pop-up-name {
    font-family: 'Gotham-Bold';
    font-size: 16rem;
    line-height: 22rem;
    text-align: center;
    letter-spacing: 0.3rem;
    color: #003087;
    position: absolute;
    width: 124rem;
    top: 11rem;
    left: 26rem;
}

.pop-up-arrow-right-ico {
    position: absolute;
    top: 26rem;
    left: 180rem;
}

.pop-up-arrow-right-ico svg {
    width: 9rem;
    box-shadow: none;
}

.network-map-location-ico:hover .selected-location-pop-up {
    display: block;
}

/* </networck> */
/* ================= */
/* <why> */

.why {
    padding: 175rem 0 281rem;
}

.why-title-wrapper {
    /* display: flex;
    align-items: center; */
    margin-bottom: 67rem;
}

.why-decor-line {
    /* width: 1349rem; */
    /* flex-shrink: 0; */
}

.why-subtitle-wrapper {
    display: flex;
    justify-content: space-between;
    height: 130rem;
    margin-bottom: 67rem;
}

.why-subtitle {
    width: 1048rem;
}

.why-slider-btns {
    display: flex;
    width: 149rem;
    justify-content: space-between;
}

.why-slider-btn-left-ico svg,
.why-slider-btn-right-ico svg {
    width: 25rem;
    height: auto;
}

.why-slider {}

.why-slider-wrapper {
    display: flex;
    justify-content: space-between;
    width: 4372rem;
}

.why-slider-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 494rem;
    height: 402rem;
    border-radius: 15rem;
    padding: 50rem 50rem 45rem;
    box-shadow: 0px 4px 20px 10px rgba(0, 48, 135, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why-slide-1 {
    background-image: url(../img/photos/everywhere.jpg);
}

.why-slide-2 {
    background-image: url(../img/photos/studies.jpg);
    padding-right: 60rem;
}

.why-slide-3 {
    background-image: url(../img/photos/language.jpg);
}

.why-slide-4 {
    background-image: url(../img/photos/innovation.jpg);
}

.why-slide-5 {
    background-image: url(../img/photos/program.jpg);
}

.why-slide-6 {
    background-image: url(../img/photos/private-studies.jpg);
}

.why-slide-7 {
    background-image: url(../img/photos/successful-alumni.jpg);
}

.why-slide-8 {
    background-image: url(../img/photos/vibes.jpg);
}

.why-slide-title-wrapper {}

.why-slider-slide-ico {
    margin-bottom: 22rem;
}

.why-slider-slide-ico svg {
    display: block;
    width: 48rem;
    height: auto;
}

.why-slider-slide-title {
    color: #003087;
}

.why-slider-slide:nth-child(4n+2) h2 {
    color: #FFFFFF;
}

.why-slider-slide-btn-plus-ico {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.3), rgba(0, 48, 135, 0.3)), #FFFFFF;
}

.why-slider-slide:nth-child(4n+1) button {
    background: linear-gradient(0deg, rgba(255, 198, 0, 0.5), rgba(255, 198, 0, 0.5)), #FFFFFF;
}

.why-slider-slide:nth-child(4n+3) button {
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.1), rgba(0, 48, 135, 0.1)), #FFFFFF;
}

/* </why> */
/* ================= */
/* <alumni> */

.alumni {
    padding: 198rem 0 147rem;
}

.alumni-title-wrapper {
    /* display: flex;
    align-items: center; */
    margin-bottom: 58rem;
}

.alumni-decor-line {
    /* width: 1264rem; */
    /* flex-shrink: 0; */
}

.alumni-wrapper {
    display: flex;
}

.alumni-content {
    width: 898rem;
    margin-right: 74rem;
}

.alumni-tabcontent {
    width: 100%;
    height: 283rem;
    margin-bottom: 74rem;
    display: none;
}

.alumni-tabcontent.active {
    display: block;
}

.alumni-tabcontent p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24rem;
    line-height: 38rem;
    letter-spacing: 0.2rem;
    color: #373F41;
    margin-bottom: 31rem;
    height: 228rem;
}

.alumni-tabcontent h3 {
    color: #003087;
}

.alumni-tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 183.99rem;
}

.alumni-tablink {
    width: 168.99rem;
    height: 168.99rem;
    background-position: center;
    background-size: 168.99rem;
    background-color: #D9D9D9;
    border-radius: 50%;
    box-sizing: border-box;
}

.alumni-tablink:hover {
    border: 8rem solid #8097C3;
}

.andreas-tablink {
    background-image: url(../img/photos/alumni1.jpg);
}

.freddie-tablink {
    background-image: url(../img/photos/alumni2.jpg);
}

.dan-tablink {
    background-image: url(../img/photos/alumni3.jpg);
}

.connie-tablink {
    background-image: url(../img/photos/alumni4.jpg);
}

.alumni-tablink.clicked {
    border: 8rem solid #003087;
    position: relative;
    overflow: visible;
}

.clicked::after {
    content: "";
    position: absolute;
    background-image: url(
    "../img/Polygon_alumni_tablink.svg");
    width: 36rem;
    height: 23rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: -24rem;
    left: 50%;
    transform: translateX(-50%);
}

.alumni-services-call-to-action {
    position: relative;
    width: 634rem;
    height: 541rem;
    border-radius: 15px;
    /* background-color: #002F87; */
    background: linear-gradient(0deg, #002F87, #002F87), url(unsplash_1K9T5YiZ2WU.png);
    padding: 57.61rem 49.52rem 54.52rem 52rem;
}

.alumni-services-call-to-action-offer-intro {
    margin-bottom: 22rem;
}

.alumni-services-call-to-action-btn {
    float: right;
}

.alumni-services-call-to-action-decor {
    right: -70rem;
    bottom: -60rem;
}

/* </alumni> */
/* ================= */
/* <events> */

.events {
    padding: 182rem 0 176rem;
}

.events-title-wrapper {
    margin-bottom: 82.52rem;
}

.events-decor-line {
    width: 760rem;
    /* flex-shrink: 0; */
}

.view-all-events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 42.52rem 0 43rem;
    width: 168.48rem;
    flex-shrink: 0;
}

.view-all-events-ico,
.view-all-stories-ico {
    background: #FFC600;
}

.view-all-events-link,
.view-all-stories-link {
    /* margin-top: 17rem; */
    padding-top: 17rem;
    color: #003087;
}

.events-decor-line-2 {
    /* width: 117rem; */
    /* flex-shrink: 0; */
}

.events-wrapper {
    display: flex;
    position: relative;
    width: 1595rem;
    height: 550rem;
    background: #003087;
    box-shadow: 0rem 4rem 20rem 10rem rgba(0, 48, 135, 0.05);
    border-radius: 15rem;
}

.event-photo {
    width: 547rem;
    height: 550rem;
    background-image: url(../img/photos/events.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15rem 0 0 15rem;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 949rem;
    height: 414.47rem;
    margin: 59rem 68rem 76.53rem 31rem;
}

.event-content-date h1 {
    color: rgb(255 255 255 / 0.9);
    margin-bottom: 15rem;
}

.event-content-date span {
    font-family: 'Gotham-Bold';
    font-size: 22rem;
    line-height: 22rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #FFC600;
}

.event-content-title {
    line-height: 15px;
    text-transform: capitalize;
    margin-bottom: 37.62rem;
}

.event-content-time-btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.event-content-time {
    font-family: 'Gotham-Bold';
    font-size: 22rem;
    line-height: 30rem;
    color: #FFC600;
}

.event-content-time span {
    position: relative;
}

.event-content-time span::before {
    content: "";
    background-image: url(../img/icons/location.svg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 14rem;
    height: 16.86rem;
    margin-right: 5rem;
    box-shadow: 0px 4.56296px 4.56296px rgba(0, 47, 135, 0.2);
}

.event-content-time span::after {
    content: "";
    background-image: url(../img/icons/selected-location.svg);
    background-size: cover;
    background-position: center;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 8rem;
    left: 4rem;
}

.events-decor {
    left: -69rem;
    bottom: -60rem;
}

/* </events> */
/* ================= */
/* <news> */

.news {
    padding: 198rem 0 247rem;
}

.news-decor-line {
    /* width: 1177rem; */
}

.news-title-wrapper {
    margin-bottom: 73rem;
}

.news-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.news-left-side {
    width: 908rem;
}

.news-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54rem;
}

.news-content-title {
    color: #003087;
    width: 624rem;
}

.view-all-stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.news-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10rem;
}

.news-card-large {
    width: 908rem;
    height: 524rem;
    background-image: url(../img/photos/news1.jpg);
}

.card-blue-mask {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 48, 135, 0) 0%, rgba(0, 48, 135, 0.8) 19.79%);
    box-shadow: 0rem 4rem 20rem rgba(0, 48, 135, 0.05);
    border-radius: 10rem;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    transition: 0.5s all ease;
}

.card-large-blue-mask {
    height: 225rem;
    padding: 45rem;
}

.card-content,
.card-content-hover {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17rem;
    line-height: 26rem;
    letter-spacing: 0.3rem;
    margin-top: 15rem;
}

.card-large-content,
.card-large-content-hover {
    width: 679rem;
}

.card-content-hover {
    display: none;
}

.news-card-btn {
    position: absolute;
    z-index: 100;
}

.news-card-large-btn {
    right: 45rem;
    bottom: 52rem;
}

.news-card-small-1,
.news-card-small-2 {
    width: 634rem;
    height: 343rem;
    background-image: url(../img/photos/news2.jpg);
    box-shadow: 0rem 4rem 20rem 10rem rgba(0, 48, 135, 0.05);
}

.card-small-1-blue-mask {
    height: 175rem;
    padding: 0 26rem 40rem 31rem;
}

.card-small-1-content-hover,
.card-small-2-content-hover {
    width: 493rem;
}

.news-card-small-1-btn,
.news-card-small-2-btn {
    right: 26rem;
    bottom: 40rem;
}

.news-card-small-2 {
    background-image: url(../img/photos/news3.jpg);
}

.card-small-2-blue-mask {
    height: 175rem;
    padding: 0 26rem 47rem 31rem;
}

.news-card-btn:hover + .card-blue-mask {
    height: 100%;
    background: rgba(0, 48, 135, 0.8);
    box-shadow: 0px 4px 20px rgba(0, 48, 135, 0.05);
    transition: 0.5s all ease;
}

.news-card-btn:hover + .card-blue-mask .card-content {
    display: none;
}

.news-card-btn:hover + .card-blue-mask .card-content-hover {
    display: block;
}

.news-decor {
    right: -63rem;
    bottom: -56rem;
}

/* </news> */
/* ================= */
/* <photos> */

.photos {
    position: relative;
    height: 2218rem;
    background: #003087;
    overflow: hidden;
}

.photos-decor {
    z-index: 0;
}

.photos-decor1 {
    top: 182rem;
    left: 89rem;
}

.photos-decor2 {
    top: 214rem;
    right: 94rem;
}

.photos-decor3 {
    top: 990rem;
    right: 387rem;
}

.photos-decor4 {
    top: 1571rem;
    left: -215rem;
}

.w494 {
    position: absolute;
    width: 494rem;
    border-radius: 15rem;
}

.w97 {
    position: absolute;
    width: 97rem;
}

.left {
    border-radius: 0rem 15rem 15rem 0rem;
}

.right {
    border-radius: 15rem 0rem 0rem 15rem;
}

.photos1 {
    top: 152rem;
    right: 158rem;
}

.photos2 {
    top: 242rem;
    left: 158rem;
}

.photos3 {
    top: 456rem;
    left: 50%;
    transform: translateX(-50%);
}

.photos4 {
    top: 715rem;
    left: 0;
}

.photos5 {
    top: 905rem;
    right: 158rem;
}

.photos6 {
    top: 1035rem;
    right: 0;
}

.photos7 {
    top: 1055rem;
    left: 158rem;
}

.photos8 {
    top: 1661rem;
    left: 0;
}

.photos9 {
    top: 1967rem;
    right: 0;
}

.start-journey-offer {
    position: absolute;
    width: 1197rem;
    /* height: 626rem; */
    bottom: 231rem;
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 231rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.start-journey-offer-logo {
    width: 251rem;
    margin-bottom: 52rem;
}

.start-journey-offer-title {
    /* width: auto; */
    /* margin-bottom: 0; */
}

.start-journey-offer-intro {
    /* width: auto; */
    margin: 52rem 0 91rem;
}

.start-journey-offer-btn {
    width: 245rem;
}

.start-journey-offer-btn-request-info {
    margin-right: 60rem;
}

/* </photos> */
/* ================= */
/* <footer> */

.footer {
    padding: 42rem 0 90rem;
    background: linear-gradient(0deg, rgba(0, 48, 135, 0.7), rgba(0, 48, 135, 0.7)), #FFFFFF;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14rem;
    line-height: 18rem;
    letter-spacing: 0.2rem;
}

.footer-logo {
    display: block;
    width: 246rem;
    margin-top: -12rem;
    margin-left: -40rem;
}

.social-icons-row {
    display: flex;
    justify-content: space-between;
    width: 100rem;
    margin-top: -18rem;
}

.social-ico img {
    display: block;
    width: 20rem;
}

.copyright {
    margin-top: 31rem;
}

.copyright p {
    font-size: 12rem;
    line-height: 16rem;
    color: #C3CBCD;
}

.footer-menu-list-contacts-wrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 16rem;
}

.footer-menu-list-wrapper {
    display: flex;
    margin-right: 150rem;
}

.footer-menu-list > * + * {
    margin-top: 16rem;
}

.footer-menu-list-middle {
    margin: 0 150rem;
}

.footer-menu-item {
    width: 130rem;
}

.footer-menu-link {
    color: #e5eaf3;
}

.footer-contact-wrapper {
    font-weight: 400;
    line-height: 20rem;
    color: #e5eaf3;
    display: flex;
    flex-direction: column;
}

.footer-contact-address {
    margin-bottom: 21rem;
    width: 255rem;
}

.footer-contact-phone {
    color: #e5eaf3;
    width: 110rem;
}

.footer-contact-mail {
    color: #e5eaf3;
    width: 172rem;
}

/* </footer> */
/* ================= */